<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring App</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container">
    <p class="h3">Изменить данные пользователя</p>

    <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" class="form-control" id="email">
            <br>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                Email error
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" class="form-control" id="username">
            <br>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                Username error
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" class="form-control" id="password">
            <br>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                Password error
            </div>
        </div>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${roles}"
                       th:text="${role.authority}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">
            Roles error
        </div>
        <button type="submit" class="btn btn-default">Сохранить</button>
    </form>
</div>
</body>
</html>