<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring App</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container">
    <p class="h3">Информация о пользователе <span th:text=" ${user.username}"></span></p>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th> id</th>
            <th> Имя</th>
            <th> Фамилия</th>
            <th> Email</th>
            <th> Username</th>
            <th> Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text=" ${user.id}"> id </span></td>
            <td><span th:text=" ${user.firstName}"> Имя </span></td>
            <td><span th:text=" ${user.lastName}"> Фамилия </span></td>
            <td><span th:text=" ${user.email}"> Email </span></td>
            <td><span th:text=" ${user.username}"> Username </span></td>
            <td><span th:text=" ${user.roles}"> Roles </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>